body {
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.document-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.document-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.document-list a:hover {
    color: #007BFF;
}

.document-list i {
    font-size: 24px;
    color: #E74C3C; /* Красный цвет для PDF иконки */
    margin-right: 10px;
}

.document-list span {
    flex-grow: 1;
}
