#surgery-department {
    padding: 40px 20px;
    background-color: #f7f7f7;
    color: #333;
}

#surgery-department h2, #surgery-department h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077b5;
}

#surgery-department p, #surgery-department ul {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#surgery-department ul li::marker {
    color: #0077b5;
}

.surgery-photo {
    text-align: center; /* Выравнивание фото по центру */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.surgery-photo img {
    max-width: 500px; /* Ограничение ширины фото до 300px */
    height: auto; /* Пропорциональное изменение высоты */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Адаптивность для маленьких экранов */
@media (max-width: 768px) {
    .surgery-photo img {
        max-width: 80%; /* На маленьких экранах фото занимает 80% ширины */
    }
}


.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1300px; /* Ограничиваем контейнер по ширине */
    margin: 0 auto; /* Центрируем */
}

.staff-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 180px; /* Уменьшили ширину карточки */
    flex: 1 1 180px; /* Flex-grow и flex-basis для более гибкой компоновки */
}

.staff-member img {
    width: 100px; /* Уменьшаем изображение */
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.staff-member h4 {
    font-size: 16px; /* Уменьшили размер заголовка */
    margin-bottom: 10px;
    color: #0077b5;
}

.staff-member p {
    font-size: 13px; /* Уменьшили размер текста */
    color: #555;
}

.staff-member strong {
    font-weight: bold;
}
